$gray_300: #4c4c4c;
$gray_400: #757575;
$gray_500: #969696;

$green_100: #939305;
$green_200: #afaf01;

$blue_100: rgb(0, 0, 206);
$blue_700: rgb(0, 0, 92);
$blue_800: #010a3d;

$dark: #040203;

$orange: rgb(196, 74, 4);

//Font size
$fs16: 16px;
$fs20: 20px;
$fs25: 25px;
$fs30: 30px;
$fs35: 35px;
$fs40: 40px;
$fs45: 45px;
$fs50: 50px;

//font weight
$fw1: 100;
$fw2: 200;
$fw3: 300;
$fw4: 400;
$fw5: 500;
$fw6: 600;
$fw7: 700;

//font family
@font-face {
  font-family: anton_black;
  src: url("/font/Anton-Regular.ttf");
}

@font-face {
  font-family: utm_avo;
  src: url("/font/UTM Avo.ttf");
}

@font-face {
  font-family: utm_avo_bold;
  src: url("/font/UTM AvoBold.ttf");
}

@font-face {
  font-family: mon_light;
  src: url("/font/Montserrat-Light.ttf");
}
@font-face {
  font-family: mon_thin;
  src: url("/font/Montserrat-Thin.ttf");
}
@font-face {
  font-family: mon_regular;
  src: url("/font/Montserrat-Regular.ttf");
}

@font-face {
  font-family: mon_bold;
  src: url("/font/Montserrat-ExtraBold.ttf");
}

//Margin
$mg5: 5px;
$mg10: 10px;
$mg15: 15px;
$mg20: 20px;
$mg25: 25px;
$mg30: 30px;
$mg35: 35px;
$mg40: 40px;

//Padding
$pd5: 5px;
$pd10: 10px;
$pd15: 15px;
$pd20: 20px;
$pd25: 25px;
$pd30: 30px;
$pd35: 35px;
$pd40: 40px;
$pd45: 45px;
$pd50: 50px;
