#about_in79 {
  padding: 70px 0;
  .about_content {
    position: relative;
    width: 100%;
    .in79 {
      width: 80%;
      margin-left: auto;
      border: 3px solid $gray_300;
      padding: $pd50;
      border-radius: 7px;

      .txt_intro {
        text-align: justify;
      }
    }
    .about_img {
      position: absolute;
      width: 300px;
      top: 50%;
      left: -10px;
      transform: translateY(-50%);
      border-radius: 7px;
      overflow: hidden;
    }
  }
}
#services_in79 {
  background-color: #c2c0cd;
  padding: 70px 0;
  .services_content {
    .cate_item {
      background-color: white;
      padding: $pd10;
      text-align: center;
      margin: $mg25 0;
      border-radius: 7px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transform: scale(1);
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
      .cate_header {
        .cate_icon {
          img {
            width: 30%;
            margin: $mg15 auto;
          }
        }
        h4 {
        }
      }
      .cate_avatar {
        img {
          width: 100%;
        }
      }
    }
  }
}
#product_in79 {
  padding: 70px 0;
  .product_content {
    margin-top: $mg25;
    .product_item {
      background-color: #fff;
      padding: $pd10;
      margin: $mg10 0;
      width: 100%;
      border-radius: 7px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      .product_img {
        width: 100%;
        height: 180px;
        position: relative;
        overflow: hidden;
        background-color: white;
        border-radius: 7px;
        padding: $pd5;
        .overlay {
          background-color: white;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
        img {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .product_main {
        width: 100%;
        height: 250px;
        .product_header {
          display: flex;
          align-items: center;
          margin: $mg10 0;
          span {
            color: $blue_700;
            font-size: $fs35;
          }
          h4 {
            font-family: utm_avo_bold;
            @include txtStyle($fs20, $fw7, $blue_700);
            &::after {
              content: "";
              width: 0%;
              height: 1px;
              background-color: $gray_400;
              display: block;
              transition: 0.5s;
            }
          }
        }
        .product_info {
          ul {
            padding: 0;
            li {
              list-style: none;
              margin: $mg10 0;
              span:first-child {
                font-family: utm_avo_bold;
                font-size: $fs16;
                font-weight: $fw7;
                color: $blue_700;
                margin-right: $mg5;
              }
              span:last-child {
                color: black;
              }
            }
          }
        }
      }

      &:hover {
        .product_header {
          h4 {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
#partners_in79 {
  background-color: #c2c0cd;
  padding: 70px 0;
  .partners_content {
    .partners {
      .partner_item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 25px;
        .partner_avatar {
          width: 25%;
          padding: 10px;
          border: 1px solid $gray_400;
        }
      }
      .rating {
      }
    }
  }
}
#rating {
  padding: 70px 0;
  .rating_content {
    text-align: center;
    width: 70% !important;
    margin: 0 auto;
    .ratings {
      .rating_user {
        .avatar {
          width: 100px;
          height: 100px;
          margin: $mg15 auto;
          border-radius: 100%;
          overflow: hidden;
          padding: $pd15;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .rating_text {
          p {
            color: black;
          }
        }
        h4 {
          color: black;
          font-weight: $fw7;
          margin: 0;
        }
        span {
          color: blue;
          font-style: italic;
        }
      }
    }
  }
}
